<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>View Celebrities</title>
</head>
<body>
    <h1>All Celebrities</h1>
    
    {{#each theCelebrities}}

            <div>
            <h3>
            Name:
            <a href="/{{this._id}}">{{this.name}}</a> 
            </h3>
                </a>
            <div id="edit-delete">  
            <form action="/delete/{{this._id}}" method="POST">
            <button>Delete</button>
            </form>
            <a href="/edit/{{this._id}}">EDIT</a> 
            </div> 



</div>
<hr>
{{/each}}
</body>
</html>