<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <h1>All Movies</h1>
    
    {{#each theMovies}}

            <div>
            <h3>
            Title:
            {{this.title}}
            </h3>
             <h3>
            Genre:
            {{this.genre}}
            </h3>
             <h3>
            Plot:
            {{this.plot}}
            </h3>
</div>
<hr>
{{/each}}
</body>
</html>